.navbar {
    background-color: #96b7fa;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.navbar button {
    background-color: rgb(4, 86, 173);
}

.navbar p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    align-self: center;
    padding-left: 1rem;
}

.title {
    align-self: center;
    padding: 0 1rem;
    color: white;
    font-size: 1.4rem; ;
}

.leaderboard-btn {
    color: white;
    font-size: 1.2rem;
}